body {
  text-align: center;
}

.timer {
  margin: 25px;
  border: 6px solid rgb(60, 131, 121);
  padding: 15px;
  font-size: 32px;
  border-radius: 50%;
  height: 50px;
}

.button {
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(60, 131, 121);
  color: #ffffff;
}

.button:hover {
  background-color: black;
  color: #ffffff;
}
